<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UFO Sightings</title>
    <base href="/">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">

    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="app-controller.js"></script>
    <script type="text/javascript" src="user-controller.js"></script>
    <script type="text/javascript" src="sighting-form-controller.js"></script>
    <script type="text/javascript" src="user-service.js"></script>
    <script type="text/javascript" src="states.js"></script>
    <script type="text/javascript" src="ufo-sightings-service.js"></script>

    <style>
        form{
            border: solid 1px darkgray;
            padding: 10px;
            border-radius: 4px;
            background-color: lightgray
        }
    </style>
</head>
<body ng-app="ufo-sightings" ng-controller="AppController as ctrl">
<div class="container">

    <div ng-include="'user-view.html'"></div>
    <div ng-if="ctrl.userService.isLoggedIn" ng-include="'sighting-form-view.html'"></div>

    <div ng-repeat="report in ctrl.ufoReports">
        <b>{{report.occurred}} {{report.city}}, {{report.state}}</b>
        <p>{{report.description}}</p>
    </div>

</div>



</body>
</html>