<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UFO Sightings</title>
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="app-controller.js"></script>
    <script type="text/javascript" src="user-controller.js"></script>
    <script type="text/javascript" src="sighting-form-controller.js"></script>
    <script type="text/javascript" src="user-service.js"></script>
    <script type="text/javascript" src="states.js"></script>
    <style>
        form{
            border: solid 1px darkgray;
            padding: 10px;
            border-radius: 4px;
            background-color: lightgray
        }
    </style>
</head>
<body ng-app="ufo-sightings" ng-controller="AppController as ctrl">

<div ng-repeat="report in ctrl.ufoReports">
    <b>{{report.occurred}} {{report.city}}, {{report.state}}</b>
    <p>{{report.description}}</p>
</div>



<div ng-if="ctrl.userService.isLoggedIn" ng-include="'sighting-form-view.html'">
</div>

<div ng-include="'user-view.html'"></div>

</body>
</html>